<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Altagram</h5>
          <p class="grey-text text-lighten-4">We are a global multilingual game localization and audio production agency with offices in Berlin, Germany, Seoul, South Korea and Montreal, Canada. We are a talented and passionate team with years of experience in the video game and localization industry. With more than 4,500 game titles localized, we are a reliable partner to bring games to a worldwide audience. </p>
          <p class="grey-text text-lighten-4">Straße der Pariser Kommune 12-16
10243 Berlin
Germany</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">LINKS</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">HOME</a></a></li>
            <li><a class="grey-text text-lighten-3" href="#!">OUR SOLUTIONS</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">ABOUT US</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">TECHNOLOGY</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">CAREERS</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">NEWS</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
            Copyright 2019 Altagram GmbH
      </div>
    </div>
  </footer>