
<div class="navbar-fixed">
<nav>
    <div class="container">
      <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="website-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://0.0.0.0:7410/" target="_blank" rel="noreferrer"> Home</a></li>
        <li><a href="https://altagram.com/" target="_blank" rel="noreferrer">OUR SOLUTIONS</a></li>
        <li><a href="https://altagram.com/" target="_blank" rel="noreferrer"> ABOUT US</a></li>
        <li><a href="https://altagram.com/" target="_blank" rel="noreferrer">TECHNOLOGY</a></li>
        <li><a href="https://altagram.com/" target="_blank" rel="noreferrer">CAREERS</a></li>
        <li><a href="https://altagram.com/" target="_blank" rel="noreferrer">NEWS</a></li>
        </div>
    </div>
</nav>
</div>
<section class="jumbotron" style="background: url({{ url_for('static', filename='images/banner.jpg') }})">
    <div class="container-fluid">
        <div class="row">
             <div class="col s12 desc p5">
                <h1> Altagram offers a global solution to game localization</h1>
                 <p>We are a global multilingual game localization and audio production agency with offices in Berlin, Germany, Seoul, South Korea and Montreal, Canada. We are a talented and passionate team with years of experience in the video game and localization industry. With more than 4,500 game titles localized, we are a reliable partner to bring games to a worldwide audience. </p>
                <a href="http://0.0.0.0:7410/results" target="_blank" class="btn-large waves-effect waves-light red">Click Result here</a>
            </div> 
           
        </div>
    </div>
</section>